<%= form_with(model: @blog, local: true) do |form| %>
<% if @blog.errors.any? %>
<div id="error_message">
  <h2>There are <%= @blog.errors.count %> errors.</h2>
  <ul>
    <% @blog.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="blog_title">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>
<div class="blog_content">
  <%= form.label :content %>
  <%= form.text_field :content %>
</div>
<%= form.submit %>
<% end %><br><br>
<%= link_to  "Go to Blog List", blogs_path %>